----- CLEAR Tabelas
delete from TB_Clientes
delete from TB_Candidaturas
delete from TB_Profissionais
delete from TB_Contratos
delete from TB_Servicos
delete from TB_Projetos
delete from TB_Especialidades
delete from TB_Especialidade_Profissional
delete from TB_Especialidade_Projeto


-- Gerando dados para a tabela TB_Especialidades
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Especialidades (Id_Especialidade, DS_Especialidade)
SELECT NEWID(), DS_Especialidade FROM TB_Especialidades;
INSERT INTO TB_Especialidades (Id_Especialidade, DS_Especialidade)
SELECT NEWID(), DS_Especialidade FROM TB_Especialidades;
INSERT INTO TB_Especialidades (Id_Especialidade, DS_Especialidade)
SELECT NEWID(), DS_Especialidade FROM TB_Especialidades;
DELETE FROM TB_Especialidades WHERE Id_Especialidade NOT IN (SELECT TOP 50 Id_Especialidade FROM TB_Especialidades);

-- Gerando dados para a tabela TB_Clientes
INSERT INTO TB_Clientes (Id_Cliente, Nome, Cpf, Email, Telefone)
VALUES
    ('8F9619FF-8B86-D011-B42D-00C04FC964FF', 'João Silva', '12345678901', 'joao.silva@example.com', '(11) 98765-4321'),
    ('909619FF-8B86-D011-B42D-00C04FC964FF', 'Maria Oliveira', '98765432101', 'maria.oliveira@example.com', '(21) 91234-5678'),
    ('919619FF-8B86-D011-B42D-00C04FC964FF', 'Pedro Souza', '45678912301', 'pedro.souza@example.com', '(31) 94567-8901'),
    ('929619FF-8B86-D011-B42D-00C04FC964FF', 'Ana Pereira', '87654321019', 'ana.pereira@example.com', '(41) 97890-1234');
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Clientes (Id_Cliente, Nome, Cpf, Email, Telefone)
SELECT NEWID(), Nome, Cpf, Email, Telefone FROM TB_Clientes;
INSERT INTO TB_Clientes (Id_Cliente, Nome, Cpf, Email, Telefone)
SELECT NEWID(), Nome, Cpf, Email, Telefone FROM TB_Clientes;
INSERT INTO TB_Clientes (Id_Cliente, Nome, Cpf, Email, Telefone)
SELECT NEWID(), Nome, Cpf, Email, Telefone FROM TB_Clientes;
DELETE FROM TB_Clientes WHERE Id_Cliente NOT IN (SELECT TOP 50 Id_Cliente FROM TB_Clientes);

-- Gerando dados para a tabela TB_Projetos
-- Esta tabela depende de TB_Clientes, certifique-se de popular TB_Clientes antes de executar esta inserção.
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Projetos (Id_Projeto, Titulo, DS_Projeto, Id_Cliente, Status)
SELECT NEWID(), Titulo, DS_Projeto, (SELECT TOP 1 Id_Cliente FROM TB_Clientes ORDER BY NEWID()), Status FROM TB_Projetos;
INSERT INTO TB_Projetos (Id_Projeto, Titulo, DS_Projeto, Id_Cliente, Status)
SELECT NEWID(), Titulo, DS_Projeto, (SELECT TOP 1 Id_Cliente FROM TB_Clientes ORDER BY NEWID()), Status FROM TB_Projetos;
INSERT INTO TB_Projetos (Id_Projeto, Titulo, DS_Projeto, Id_Cliente, Status)
SELECT NEWID(), Titulo, DS_Projeto, (SELECT TOP 1 Id_Cliente FROM TB_Clientes ORDER BY NEWID()), Status FROM TB_Projetos;
DELETE FROM TB_Projetos WHERE Id_Projeto NOT IN (SELECT TOP 50 Id_Projeto FROM TB_Projetos);


-- Gerando dados para a tabela TB_Servicos
-- Esta tabela depende de TB_Projetos, certifique-se de popular TB_Projetos antes de executar esta inserção.
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Servicos (Id_Servico, Titulo, DS_Projeto, Status, Id_Projeto)
SELECT NEWID(), Titulo, DS_Projeto, Status, (SELECT TOP 1 Id_Projeto FROM TB_Projetos ORDER BY NEWID()) FROM TB_Servicos;
INSERT INTO TB_Servicos (Id_Servico, Titulo, DS_Projeto, Status, Id_Projeto)
SELECT NEWID(), Titulo, DS_Projeto, Status, (SELECT TOP 1 Id_Projeto FROM TB_Projetos ORDER BY NEWID()) FROM TB_Servicos;
INSERT INTO TB_Servicos (Id_Servico, Titulo, DS_Projeto, Status, Id_Projeto)
SELECT NEWID(), Titulo, DS_Projeto, Status, (SELECT TOP 1 Id_Projeto FROM TB_Projetos ORDER BY NEWID()) FROM TB_Servicos;
DELETE FROM TB_Servicos WHERE Id_Servico NOT IN (SELECT TOP 50 Id_Servico FROM TB_Servicos);

-- Gerando dados para a tabela TB_Profissionais
INSERT INTO TB_Profissionais (Id_Profissional, Nome, Cpf, Email, Telefone)
VALUES
    ('3F9619FF-8B86-D011-B42D-00C04FC964FF', 'Amanda Costa', '23456789012', 'amanda.costa@example.com', '(11) 91234-5678'),
    ('409619FF-8B86-D011-B42D-00C04FC964FF', 'Bruno Santos', '56789012345', 'bruno.santos@example.com', '(21) 94567-8901'),
    ('419619FF-8B86-D011-B42D-00C04FC964FF', 'Carolina Rodrigues', '90123456789', 'carolina.rodrigues@example.com', '(31) 97890-1234'),
    ('429619FF-8B86-D011-B42D-00C04FC964FF', 'Daniel Ferreira', '34567890123', 'daniel.ferreira@example.com', '(41) 90123-4567');
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Profissionais (Id_Profissional, Nome, Cpf, Email, Telefone)
SELECT NEWID(), Nome, Cpf, Email, Telefone FROM TB_Profissionais;
INSERT INTO TB_Profissionais (Id_Profissional, Nome, Cpf, Email, Telefone)
SELECT NEWID(), Nome, Cpf, Email, Telefone FROM TB_Profissionais;
INSERT INTO TB_Profissionais (Id_Profissional, Nome, Cpf, Email, Telefone)
SELECT NEWID(), Nome, Cpf, Email, Telefone FROM TB_Profissionais;
DELETE FROM TB_Profissionais WHERE Id_Profissional NOT IN (SELECT TOP 50 Id_Profissional FROM TB_Profissionais);

-- Gerando dados para a tabela TB_Especialidade_Prof
-- Esta tabela depende de TB_Especialidades e TB_Profissionais, certifique-se de popular ambas as tabelas antes de executar esta inserção.
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Especialidade_Profissional (Id_Especialidade, Id_Profissional)
SELECT (SELECT TOP 1 Id_Especialidade FROM TB_Especialidades ORDER BY NEWID()), (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()) FROM TB_Especialidade_Profissional;
INSERT INTO TB_Especialidade_Profissional (Id_Especialidade, Id_Profissional)
SELECT (SELECT TOP 1 Id_Especialidade FROM TB_Especialidades ORDER BY NEWID()), (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()) FROM TB_Especialidade_Profissional;
INSERT INTO TB_Especialidade_Profissional (Id_Especialidade, Id_Profissional)
SELECT (SELECT TOP 1 Id_Especialidade FROM TB_Especialidades ORDER BY NEWID()), (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()) FROM TB_Especialidade_Profissional;
DELETE FROM TB_Especialidade_Profissional WHERE Id_Especialidade NOT IN (SELECT TOP 50 Id_Especialidade FROM TB_Especialidade_Profissional);


-- Gerando dados para a tabela TB_Contratos
-- Esta tabela depende de TB_Servicos e TB_Profissionais, certifique-se de popular ambas as tabelas antes de executar esta inserção.
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Contratos (Id_Contrato, Valor, Data_Inicio, Data_Encerramento, Id_Servico, Id_Profissional)
SELECT NEWID(), Valor, Data_Inicio, Data_Encerramento, (SELECT TOP 1 Id_Servico FROM TB_Servicos ORDER BY NEWID()), (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()) FROM TB_Contratos;
INSERT INTO TB_Contratos (Id_Contrato, Valor, Data_Inicio, Data_Encerramento, Id_Servico, Id_Profissional)
SELECT NEWID(), Valor, Data_Inicio, Data_Encerramento, (SELECT TOP 1 Id_Servico FROM TB_Servicos ORDER BY NEWID()), (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()) FROM TB_Contratos;
INSERT INTO TB_Contratos (Id_Contrato, Valor, Data_Inicio, Data_Encerramento, Id_Servico, Id_Profissional)
SELECT NEWID(), Valor, Data_Inicio, Data_Encerramento, (SELECT TOP 1 Id_Servico FROM TB_Servicos ORDER BY NEWID()), (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()) FROM TB_Contratos;
DELETE FROM TB_Contratos WHERE Id_Contrato NOT IN (SELECT TOP 50 Id_Contrato FROM TB_Contratos);

-- Gerando dados para a tabela TB_Especialidade_Proj
-- Esta tabela depende de TB_Especialidades e TB_Projetos, certifique-se de popular ambas as tabelas antes de executar esta inserção.
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Especialidade_Projeto (Id_Especialidade, Id_Projeto)
SELECT (SELECT TOP 1 Id_Especialidade FROM TB_Especialidades ORDER BY NEWID()), (SELECT TOP 1 Id_Projeto FROM TB_Projetos ORDER BY NEWID()) FROM TB_Especialidade_Projeto;
INSERT INTO TB_Especialidade_Projeto (Id_Especialidade, Id_Projeto)
SELECT (SELECT TOP 1 Id_Especialidade FROM TB_Especialidades ORDER BY NEWID()), (SELECT TOP 1 Id_Projeto FROM TB_Projetos ORDER BY NEWID()) FROM TB_Especialidade_Projeto;
INSERT INTO TB_Especialidade_Projeto (Id_Especialidade, Id_Projeto)
SELECT (SELECT TOP 1 Id_Especialidade FROM TB_Especialidades ORDER BY NEWID()), (SELECT TOP 1 Id_Projeto FROM TB_Projetos ORDER BY NEWID()) FROM TB_Especialidade_Projeto;
DELETE FROM TB_Especialidade_Projeto WHERE Id_Especialidade NOT IN (SELECT TOP 50 Id_Especialidade FROM TB_Especialidade_Projeto);


-- Gerando dados para a tabela TB_Candidaturas
-- Esta tabela depende de TB_Projetos e TB_Servicos, certifique-se de popular ambas as tabelas antes de executar esta inserção.
-- Repetindo os valores para completar 50 registros
INSERT INTO TB_Candidaturas (Id_Candidatura, Valor_Proposto, DS_Proposta, Id_Profissional, Id_Servico, Duracao_Proposta, Status)
SELECT NEWID(), Valor_Proposto, DS_Proposta, (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()), (SELECT TOP 1 Id_Servico FROM TB_Servicos ORDER BY NEWID()), Duracao_Proposta, Status FROM TB_Candidaturas;
INSERT INTO TB_Candidaturas (Id_Candidatura, Valor_Proposto, DS_Proposta, Id_Profissional, Id_Servico, Duracao_Proposta, Status)
SELECT NEWID(), Valor_Proposto, DS_Proposta, (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()), (SELECT TOP 1 Id_Servico FROM TB_Servicos ORDER BY NEWID()), Duracao_Proposta, Status FROM TB_Candidaturas;
INSERT INTO TB_Candidaturas (Id_Candidatura, Valor_Proposto, DS_Proposta, Id_Profissional, Id_Servico, Duracao_Proposta, Status)
SELECT NEWID(), Valor_Proposto, DS_Proposta, (SELECT TOP 1 Id_Profissional FROM TB_Profissionais ORDER BY NEWID()), (SELECT TOP 1 Id_Servico FROM TB_Servicos ORDER BY NEWID()), Duracao_Proposta, Status FROM TB_Candidaturas;
DELETE FROM TB_Candidaturas WHERE Id_Candidatura NOT IN (SELECT TOP 50 Id_Candidatura FROM TB_Candidaturas);


